/* *{
    margin: 0;
    padding: 0;
}
body {
    height: 75vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0 50%;
    padding: 50px;
    background-color: #003C43;
    background-image: url(/Assests/bookB.png);
    background-size: contain;
  }

  .booking{
    margin-left: -10px;
  }

  .booking h1{
    font-size: 70px;
    text-align: left;
    margin-left: -15%;
    margin-top: -3%;
    box-shadow: 2px 2px 16px grey;
  }
  
  .image img{
    width: 27vw;
    margin-top: 15px;
    position: absolute;
    left: 210px;
    border-radius: 20px;
  }

  .booking .form{
    height: 85vh;
    padding-top: 15px;
    margin-left: -40%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
  }

  
  input, select, textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 40%;
    padding: 10px;
  }  

  textarea {
    height: 90px;
  }
  
  
  button {
    display: flex;
    position: relative;
    left: 50%;
    width: 90px;
    height: 40px;
    padding: 10px 10px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  button:hover {
    border: 2px solid black;

  } */

  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("/Assests/first.png");
  
    /* Control the height of the image */
    min-height: 98vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 500px;
    padding: 16px;
    background-color: white;
    height: 95vh;
  }
  
  .container h1{
    text-align: center;
    margin-top: -10px;
    font-size: 38px;
  }
  /* Full-width input fields */
    input,label,textarea {
    height: 18px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  textarea{
    height: 100px;
  }
  
  label{
    background-color: transparent;
    margin-left: -10px;
    font-size: 18px;
  }
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }