body{
  background-color: #003C43;
}

body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background-color: #003C43;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(197, 255, 213);
}

.animated-grid {
  height: 85vh;
  margin-bottom: 200px;
  display: grid;
  gap: 1rem;

  /* Explicit grid */
  grid-template-areas:
    'a  b  c  d'
    'l  🌟 🌟 e'
    'k  🌟 🌟 f'
    'j  i  h  g';

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;
  --stagger-delay: 100ms;
}

h1{
  text-align: center;
  font-size: 4vw;
  color: white;
}

@keyframes card{
  from{
      opacity: 0;
      transform: scale(0.3);
      filter: hue-rotate(180deg);
  }
  to{
      opacity: 1;
      transform: scale(1);
      filter: hue-rotate(0deg);
  }
}

.card{
  background-color: burlywood;
  animation: card 700ms ease-out;
  animation-fill-mode: backwards;
}

.card:nth-child(1){
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}

.card:nth-child(2){
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(3){
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(4){
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(5){
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
}
.card:nth-child(6){
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
}
.card:nth-child(7){
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
}
.card:nth-child(8){
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
}
.card:nth-child(9){
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
}
.card:nth-child(10){
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
}
.card:nth-child(11){
  grid-area:k;
  animation-delay: calc(11 * var(--stagger-delay));
}
.card:nth-child(12){
  animation-delay: calc(12 * var(--stagger-delay));
  grid-area: l;
}
.card:last-child {
  grid-area: 🌟;
  animation-delay: calc(13 * var(--stagger-delay));
}